<section>
  <p>
    Here's a basic Ember example I threw together. You should be able to repurpose the API request I created in first-component.js.
  </p>
  <p>My name, according to GitHub, is {{this.fullName}}</p>
  <p>I have {{this.repos}} public repositories</p>
</section>